{$DOMAIN} {
  handle_path /static/* {
    root * /app/staticfiles  # Changed path to match the volume mount
    file_server
  }

  handle_path /media/* {
    root * /app/media  # Changed path to match the volume mount
    file_server
  }

  reverse_proxy web:8000
}