{$DOMAIN} {
    # Static files
    handle /static/* {
        uri strip_prefix /static
        root * /app/staticfiles
        file_server
    }

    # Media files
    handle /media/* {
        uri strip_prefix /media
        root * /app/media
        file_server
    }

    # Reverse proxy
    handle {
        reverse_proxy web:8000
    }

    # Enable logs for debugging
    log {
        output stdout
        format json
        level DEBUG
    }
}