{% extends "admin/change_list.html" %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<style>
    .backup-list {
        list-style-type: none;
        padding: 0;
    }
    .backup-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #eee;
    }
    .restore-button {
        background-color: #79aec8;
        color: #fff !important;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 4px;
        margin-left: 10px;
        font-size: 12px;
        transition: background-color 0.3s;
    }
    .restore-button:hover {
        background-color: #417690;
    }
</style>
{% endblock %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'admin:backup_manager_backupmanagement_create_backup' %}" class="addlink">
            {% trans "Create Backup" %}
        </a>
    </li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="module">
        <h2>Available Backups</h2>
        <ul class="backup-list">
            {% for backup in backups %}
                <li class="backup-item">
                    <span>{{ backup }}</span>


                    <div>
                        <a href="{% url 'admin:backup_manager_backupmanagement_download_backup' filename=backup %}" class="restore-button">
                            Download
                        </a>
                        <a href="{% url 'admin:backup_manager_backupmanagement_restore_db' filename=backup %}" class="restore-button">
                            Restore
                        </a>

                    </div>

                </li>
            {% empty %}
                <li>No backups available.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="module upload-form"></div>
        <h2>Upload Backup</h2>
        <form action="{% url 'admin:backup_manager_backupmanagement_upload_backup' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="backup_file" accept=".psql" required>
            <input type="submit" value="Upload Backup" class="backup-button">
        </form>
    </div>
{% endblock %}