{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4">
    <h1 class="text-2xl font-bold mb-4">{{ package.name }}</h1>
    <p><strong>Reference ID:</strong> {{ package.package_reference }}</p>
    <p><strong>Tour Pack:</strong> {{ tour_pack_type.name }}</p>

    <p class="mb-2"><strong>Customer:</strong> {{ package.customer_name }}</p>
    <p class="mb-2"><strong>Remark:</strong> {{ package.remark }}</p>
    <p class="mb-4"><strong>Created:</strong> {{ package.created_at|date:"Y-m-d H:i" }}</p>

    {% for day in package.tour_days.all %}
    <div class="mb-6 p-4 border border-gray-300 rounded">
        <h2 class="text-xl font-semibold mb-2">Day {{ forloop.counter }} - {{ day.date|date:"Y-m-d" }}</h2>
        <p><strong>City:</strong> {{ day.city.name }}</p>
        <p><strong>Hotel:</strong> {{ day.hotel.name }}</p>

        <h3 class="text-lg font-semibold mt-2 mb-1">Services:</h3>
        <ul class="list-disc pl-5">
            {% for service in day.services.all %}
            <li>{{ service.service.name }} ({{ service.service.service_type.name }}) -
                {{ service.price_at_booking|floatformat:2 }} USD
            </li>
            {% endfor %}
        </ul>

        <!-- Only show Guide Services if there are any -->
        {% if day.guide_services.all %}
        <h3 class="text-lg font-semibold mt-2 mb-1">Guide Services:</h3>
        <ul class="list-disc pl-5">
            {% for guide_service in day.guide_services.all %}
            <li>{{ guide_service.guide_service.name }} -
                {{ guide_service.price_at_booking|floatformat:2 }} USD
            </li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>
    {% endfor %}

    <div class="my-12">
        <h2 class="text-xl font-semibold">Total Service Cost: {{ package.service_grand_total }} USD</h2>
    </div>




    <!-- Display Hotel Costs -->
    {% if hotel_costs_with_total %}
    <div class="mb-6 p-4 border border-gray-300 rounded">
        <h2 class="text-xl font-semibold mb-2">Hotel Costs</h2>
        <ul class="list-disc pl-5">
            {% for hotel_cost in hotel_costs_with_total %}
            <li>
                {{ hotel_cost.name }} ({{ hotel_cost.type }}) -
                {{ hotel_cost.room }} room(s),
                {{ hotel_cost.nights }} night(s) -
                {{ hotel_cost.price }} USD per night
                (Total: {{ hotel_cost.total|floatformat:"2" }} USD)
            </li>
            {% endfor %}
        </ul>
        <div class="mt-4">
            <h2 class="text-xl font-semibold">Total Hotel Cost: {{ package.hotel_grand_total }} USD</h2>
        </div>
    </div>
    {% endif %}

    <h2>Discounts</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for discount in discounts %}
            <tr>
                <td>{{ discount.item }}</td>
                <td>${{ discount.amount }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No discounts applied</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total Discount</th>
                <th>${{ total_discount }}</th>
            </tr>
        </tfoot>
    </table>

    <!-- Grand Total -->
    <div class="my-12">
        <h2 class="text-xl font-semibold">Grand Total Cost: {{ package.grand_total_cost }} USD</h2>
    </div>

    <div class="block my-4">
        <a href="{% url 'tour_package_edit' package.id %}" class="bg-blue-500 text-white px-4 py-2 rounded">Edit Package</a>
    </div>

    <div class="block my-4">
        <a href="{% url 'tour_package_pdf' package.id %}" target="_blank" class="bg-blue-500 text-white px-4 py-2 rounded">Print PDF</a>
    </div>

</div>
{% endblock %}
