{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="container px-4 py-8 mx-auto">
    <div class="overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800">
        <!-- Header Section -->
        <div class="p-6 text-white bg-blue-600 dark:bg-blue-900">
            <div class="flex flex-wrap gap-2 justify-between items-center mb-2">
                <h1 class="text-3xl font-bold">{{ package.name }}</h1>
                <a href="{% url 'export_tourday_excel' pk=package.id %}" class="flex gap-2 items-center px-4 py-2 text-sm font-semibold text-blue-600 bg-white rounded-lg transition duration-300 hover:bg-gray-100 dark:bg-gray-200 dark:hover:bg-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6zm-1 2l5 5h-5V4zM8.5 13h1.5v1.5H8.5V13zm0 3h1.5v1.5H8.5V16zm3-3H13v1.5h-1.5V13zm0 3H13v1.5h-1.5V16zm3-3h1.5v1.5H14.5V13zm0 3h1.5v1.5H14.5V16z"/>
                    </svg>
                    
                </a>
            </div>
            <p class="text-lg"><strong>Mo no.:</strong> {{ package.package_reference }}</p>
            <p class="text-lg"><strong>Tour Pack:</strong> {{ tour_pack_type.name }}</p>
            <p><strong>Remark:</strong> {{ package.remark }}</p>
            {% if package.connection_ref %}
            <p><strong>Connection Ref:</strong> {{ package.connection_ref }}</p>
            {% endif %}
        </div>

        <!-- Customer Info Section -->
        <div class="p-6 border-b dark:border-gray-700">
            <h2 class="mb-4 text-2xl font-semibold dark:text-gray-200">Customer Information</h2>
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2 dark:text-gray-300">
                <p><strong>Customer:</strong> {{ package.customer_name }}</p>
                <p><strong>Created:</strong> {{ package.created_at|date:"Y-m-d H:i" }}</p>
                <p><strong>Prepared by:</strong> {% if package.prepare_by_user %}{{ package.prepare_by_user.username }}{% else %}N/A{% endif %}</p>
            </div>
        </div>

        <!-- Itinerary Section -->
        <div class="p-6 border-b dark:border-gray-700">
            <h2 class="mb-4 text-2xl font-semibold dark:text-gray-200">Itinerary</h2>
            {% for day in ordered_tour_days %}
            <div class="p-4 mb-6 bg-gray-100 rounded-lg dark:bg-gray-700">

                <div class="grid grid-cols-1 gap-4 mb-4 md:grid-cols-3 dark:text-gray-300">
                    <h3 class="mb-2 text-xl font-semibold dark:text-gray-200">Day {{ forloop.counter }} - {{ day.date|date:"d-M-Y" }}</h3>
                    <h3 class="mb-2 text-xl font-semibold dark:text-gray-200">City: {{ day.city.name }}</h3>
                    <h3 class="mb-2 text-xl font-semibold dark:text-gray-200">Hotel:{{ day.hotel.name }}</h3>

                </div>

                <h4 class="mt-2 mb-1 text-lg font-semibold dark:text-gray-200">Services:</h4>
                <ul class="pl-5 mb-2 list-disc dark:text-gray-300">
                    {% for service in day.services.all %}
                    <li>{{ service.service.name }} ({{ service.service.service_type.name }}) -
                        {{ service.price_at_booking|intcomma}} THB

                    </li>
                    {% endfor %}
                </ul>

                {% if day.guide_services.all %}
                <h4 class="mt-2 mb-1 text-lg font-semibold dark:text-gray-200">Guide Services:</h4>
                <ul class="pl-5 list-disc dark:text-gray-300">
                    {% for guide_service in day.guide_services.all %}
                    <li>{{ guide_service.guide_service.name }} -
                        {{ guide_service.price_at_booking|intcomma }} THB
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <!-- Cost Breakdown Section -->
        <div class="p-6 border-b dark:border-gray-700">

            <div class="p-4 mb-4 bg-blue-100 rounded-lg dark:bg-blue-900">
                <h3 class="text-2xl font-bold text-blue-800 dark:text-blue-200">Total Service Cost: {{ package.service_grand_total|intcomma }} THB</h3>
            </div>

            <!-- Hotel Costs -->
            {% if hotel_costs_with_total %}
            <div class="mb-6">
                <h3 class="mb-2 text-xl font-semibold dark:text-gray-200">Hotel Costs</h3>
                <div class="overflow-x-auto">
                    <table class="mb-4 w-full">
                        <thead class="bg-gray-200 dark:bg-gray-700">
                            <tr>
                                <th class="p-2 text-left dark:text-gray-200">Date</th>
                                <th class="p-2 text-left dark:text-gray-200">Hotel</th>
                                <th class="p-2 text-center dark:text-gray-200">Rooms</th>
                                <th class="p-2 text-center dark:text-gray-200">Nights</th>
                                <th class="p-2 text-right dark:text-gray-200">Price/Night</th>
                                <th class="p-2 text-right dark:text-gray-200">Extra Bed</th>
                                <th class="p-2 text-right dark:text-gray-200">Total</th>
                            </tr>
                        </thead>
                        <tbody class="dark:text-gray-300">
                            {% for hotel_cost in hotel_costs_with_total %}
                            <tr class="border-b dark:border-gray-600">
                                <td class="p-2">{{ hotel_cost.date }}</td>
                                <td class="p-2">
                                    {{ hotel_cost.name }}
                                    <div class="text-sm text-gray-600 dark:text-gray-400">{% if hotel_cost.type %}({{ hotel_cost.type }}){% endif %}</div>
                                    {% if hotel_cost.promotion %}<div class="text-sm text-green-600 dark:text-green-400">{{ hotel_cost.promotion }}</div>{% endif %}
                                </td>
                                <td class="p-2 text-center">{{ hotel_cost.room }}</td>
                                <td class="p-2 text-center">{{ hotel_cost.nights }}</td>
                                <td class="p-2 text-right">{{ hotel_cost.price|intcomma }}</td>
                                <td class="p-2 text-right">
                                    {% if hotel_cost.extraBedPrice %}
                                        {{ hotel_cost.extraBedPrice|intcomma }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="p-2 font-semibold text-right">{{ hotel_cost.total|floatformat:"2"|intcomma }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <p class="dark:text-gray-200"><strong>Remark hotels</strong></p>
                <div style="white-space: pre-wrap;" class="mb-4 dark:text-gray-300">{{ package.remark_of_hotels |safe }}</div>
                
                {% if package.special_note %}
                <p class="dark:text-gray-200"><strong>Special Notes</strong></p>
                <div style="white-space: pre-wrap;" class="mb-4 text-green-600 dark:text-green-400">{{ package.special_note |safe }}</div>
                {% endif %}

                <div class="p-4 mt-6 bg-blue-100 rounded-lg dark:bg-blue-900">
                    <h3 class="text-2xl font-bold text-blue-800 dark:text-blue-200">Total Hotel Cost: {{ package.hotel_grand_total|intcomma }} THB</h3>
                </div>

            </div>
            {% endif %}


            <div class="mt-8">
                <h3 class="mb-2 text-xl text-blue-600 font-semibolddark:text-gray-200">Additional Costs</h3>
                <table class="w-full">
                    <thead class="bg-gray-200 dark:bg-gray-700">
                        <tr>
                            <th class="p-2 text-left text-blue-600 dark:text-gray-200">Item</th>
                            <th class="p-2 text-right text-blue-600 dark:text-gray-200">Price</th>
                            <th class="p-2 text-center text-blue-600 dark:text-gray-200">QTY</th>
                            <th class="p-2 text-right text-blue-600 dark:text-gray-200">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for extra_cost in extra_costs %}
                        <tr>
                            <td class="p-2 text-blue-600 border-b dark:border-gray-600">{{ extra_cost.item }}</td>
                            <td class="p-2 text-right text-blue-600 border-b dark:border-gray-600">
                                {% if extra_cost.price %}
                                    {{ extra_cost.price|intcomma }}
                                {% else %}
                                    {{ extra_cost.amount|intcomma }}
                                {% endif %}
                            </td>
                            <td class="p-2 text-center text-blue-600 border-b dark:border-gray-600">{{ extra_cost.qty|default:"1" }}</td>
                            <td class="p-2 text-right text-blue-600 border-b dark:border-gray-600">{{ extra_cost.amount|intcomma }} THB</td>
                        </tr>
                        {% empty %}

                        <tr>
                            <td colspan="4" class="p-2 text-center text-blue-600">No extra cost</td>
                        </tr>
                        {% endfor %}
                    </tbody>

                    {% if extra_costs %}
                    <tfoot class="font-bold text-blue-600 dark:text-gray-200">
                        <tr>
                            <td colspan="3" class="p-2 text-right">Total Additional Costs</td>
                            <td class="p-2 text-right">{{ total_extra_cost|intcomma }} THB</td>
                        </tr>
                    </tfoot>
                    {% endif %}
                </table>
            </div>

            <!-- Discounts -->
            <div class="mb-6">
                <h3 class="mb-2 text-xl text-red-400 dark:text-gray-200">Discounts</h3>
                <table class="w-full">
                    <thead class="bg-gray-200 dark:bg-gray-700">
                        <tr>
                            <th class="p-2 text-left text-red-500 dark:text-gray-200">Item</th>
                            <th class="p-2 text-right text-red-500 dark:text-gray-200">Amount</th>
                        </tr>
                    </thead>
                    <tbody class="dark:text-gray-300">
                        {% for discount in discounts %}
                        <tr>
                            <td class="p-2 text-red-500 border-b dark:border-gray-600">{{ discount.item }}</td>
                            <td class="p-2 text-right text-red-500 border-b dark:border-gray-600">{{ discount.amount|intcomma }} THB</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2" class="p-2 text-center">No discounts applied</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% if discounts %}
                    <tfoot class="font-bold text-red-500 dark:text-gray-200">
                        <tr>
                            <td class="p-2">Total Discount</td>
                            <td class="p-2 text-right">{{ total_discount|intcomma }} THB</td>
                        </tr>
                    </tfoot>
                    {% endif %}
                </table>
            </div>

            <p class="dark:text-gray-200"><strong>Remark2:</strong></p>

            <div style="white-space: pre-wrap;" class="dark:text-gray-300">{{ remark2|safe }}</div>

            <!-- Grand Total -->
            <div class="p-4 mt-6 bg-blue-100 rounded-lg dark:bg-blue-900">
                <h3 class="text-2xl font-bold text-blue-800 dark:text-blue-200">Grand Total Cost: {{ package.grand_total_cost|intcomma }} THB</h3>
            </div>
        </div>

        <!-- Commission Section - Hidden from assistance group -->
        {% if show_commission %}
        <div class="p-6">
            <h2 class="mb-4 text-2xl font-semibold dark:text-gray-200">Commission Information</h2>
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2 dark:text-gray-300">
                <div>
                    <p><strong>Hotel Commission Rate:</strong> {{ package.commission_rate_hotel|intcomma }} THB</p>
                    <p><strong>Hotel Commission Amount:</strong> {{ package.commission_amount_hotel|intcomma}} THB</p>
                </div>
                <div>
                    <p><strong>Service Commission Rate:</strong> {{ package.commission_rate_services }} %</p>
                    <p><strong>Service Commission Amount:</strong> {{ package.commission_amount_services|intcomma }} THB</p>
                </div>

            </div>

            <div class="px-4 py-6 mt-4 bg-green-200 rounded-md dark:bg-gray-600">
                <p><strong>Total Commission Amount:</strong> {{ comission_total|intcomma }} THB</p>
            </div>

        </div>
        {% endif %}
    </div>

    <div class="flex flex-col mt-8 space-y-4 md:flex-row md:space-x-4 md:space-y-0">
        <a href="{% url 'tour_package_edit' package.package_reference %}" class="px-6 py-3 font-semibold text-center text-white bg-blue-500 rounded-lg transition duration-300 hover:bg-blue-600 dark:bg-blue-600 dark:hover:bg-blue-700">
          Edit Package
        </a>
        <a href="{% url 'tour_package_pdf' package.id %}" class="px-6 py-3 font-semibold text-center text-white bg-green-500 rounded-lg transition duration-300 hover:bg-green-600 dark:bg-green-600 dark:hover:bg-green-700" target="_blank">
          Print PDF
        </a>
        <a href="{% url 'tour_package_pdf_no_cost' package.id %}" class="px-6 py-3 font-semibold text-center text-white bg-purple-500 rounded-lg transition duration-300 hover:bg-purple-600 dark:bg-purple-600 dark:hover:bg-purple-700" target="_blank">
          Export PDF without cost
        </a>
        <a href="{% url 'export_tour_package_json' pk=package.id %}" class="px-6 py-3 font-semibold text-center text-white bg-yellow-500 rounded-lg transition duration-300 hover:bg-teal-600 dark:bg-teal-600 dark:hover:bg-teal-700" target="_blank">
          Export to JSON
        </a>
        {% if user.is_superuser %}
        <a href="{% url 'duplicate_tour_package' package.package_reference %}" class="px-6 py-3 font-semibold text-center text-white bg-purple-500 rounded-lg transition duration-300 hover:bg-purple-600 dark:bg-purple-600 dark:hover:bg-purple-700">
            Duplicate Package
        </a>
        {% endif %}
        <form
          id="email-form"
          action="{% url 'send_tour_package_email' package.id %}"
          method="post"
          class="flex flex-col items-center space-y-4 md:flex-row md:space-y-0 md:space-x-2"
          x-data="{ loading: false }"
          x-target="email_sent cc_email"
          @ajax:after="loading = false"
          @ajax:before="loading = true"
        >
          {% csrf_token %}
          <input type="email" name="cc_email" placeholder="CC Email (optional)" class="px-3 py-2 w-full rounded border md:w-auto dark:bg-gray-700 dark:text-gray-200 dark:border-gray-600" id="cc_email">
          <button
            type="submit"
            class="flex justify-center items-center px-6 py-3 w-full font-semibold text-white bg-yellow-500 rounded-lg transition duration-300 hover:bg-yellow-600 dark:bg-yellow-600 dark:hover:bg-yellow-700 md:w-auto"
            :disabled="loading"
          >
            <span x-show="!loading">Send Email</span>
            <span x-show="loading" class="flex items-center">
              <svg class="mr-3 -ml-1 w-5 h-5 text-white animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
              Sending...
            </span>
          </button>
        </form>
    </div>

    <div id="email_sent" class="mt-2 text-green-600 dark:text-green-400" x-merge="prepend" ></div>

</div>

<!-- Floating Action Button for Editing -->
<a href="{% url 'tour_package_edit' package.package_reference %}" 
   class="fixed right-8 bottom-8 z-50 p-4 text-white bg-blue-600 rounded-full shadow-lg transition-transform duration-300 transform hover:bg-blue-700 hover:scale-110 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800"
   title="Edit Package">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
    </svg>
</a>

{% endblock %}